# String functions

In [1]:
#creating a string
string='Data science is the study of extracting useful insights from the data.'

In [2]:
# to convert the whole string in lower case
string.lower()

'data science is the study of extracting useful insights from the data.'

In [3]:
# to get the string in upper case
string.upper()

'DATA SCIENCE IS THE STUDY OF EXTRACTING USEFUL INSIGHTS FROM THE DATA.'

In [4]:
#to capitalise the first letter of all the word in the string
string.title()

'Data Science Is The Study Of Extracting Useful Insights From The Data.'

In [5]:
#to replace the substring specified from the string
string.replace('study','science')

'Data science is the science of extracting useful insights from the data.'

In [6]:
# checks whether the string starts with the given substring or not and returns true or false
string.startswith('Data')

True

In [7]:
# checks whether the string ends with the given substring or not and returns true or false
string.endswith('You')

False

In [8]:
# to get the length of string
len(string)

70

In [9]:
# count the occurence of the given letter/substring
string.count('e')

6

In [10]:
#to get the count of all the occurences of e and E
string.lower().count('e')

6

In [11]:
# returns the index of the substring if present
string.find('study')

20

In [12]:
# checks if the string has numeric data or not and returns the output in true or false
print(string.isnumeric())

False

In [13]:
#join the string
'-'.join(string)

'D-a-t-a- -s-c-i-e-n-c-e- -i-s- -t-h-e- -s-t-u-d-y- -o-f- -e-x-t-r-a-c-t-i-n-g- -u-s-e-f-u-l- -i-n-s-i-g-h-t-s- -f-r-o-m- -t-h-e- -d-a-t-a-.'

In [14]:
#to split the string with the specified seperator
string.split(' ')

['Data',
 'science',
 'is',
 'the',
 'study',
 'of',
 'extracting',
 'useful',
 'insights',
 'from',
 'the',
 'data.']

In [15]:
#remove leading and trailing whitespace from the given string
string.strip()

'Data science is the study of extracting useful insights from the data.'

In [16]:
del string # to delete the string

In [18]:
print(string) #since the string has been deleted

NameError: name 'string' is not defined

# List functions

In [19]:
#creating list
list1=[12,13,14,16,190,11]

In [20]:
#length of list
len(list1)

6

In [21]:
#adding one element
list1.append(69)
print(list1)

[12, 13, 14, 16, 190, 11, 69]

In [22]:
#adding more than one element
list1.extend([21,56])
print(list1)

[12, 13, 14, 16, 190, 11, 69, 21, 56]

In [23]:
#insert element at the specified index
# list.insert(index,element)
list1.insert(2,21)
print(list1)

[12, 13, 21, 14, 16, 190, 11, 69, 21, 56]

In [24]:
#remove the element at the specified index,list.pop(index of element to pop)
list1.pop(2)

21

In [25]:
#remove the element specified,list.remove(element)
list1.remove(11)
print(list1)

[12, 13, 14, 16, 190, 69, 21, 56]

In [26]:
#index of the element in the bracket
list1.index(190)

4

In [27]:
#to sort in ascending order
list1.sort()
print(list1)


#or

sorted(list1)
print(list1)

[12, 13, 14, 16, 21, 56, 69, 190]
[12, 13, 14, 16, 21, 56, 69, 190]

In [28]:
#to reverse the list
list1.reverse()
print(list1)

[190, 69, 56, 21, 16, 14, 13, 12]

In [29]:
list2=[23,23,43,54]

In [32]:
#deleting the list
del list2
print(list2)

NameError: name 'list2' is not defined

In [33]:
# list.clear() can be used to remove all the items from the list

# Dictionary functions

In [34]:
#creating dictionary
dict1= {
    'Name': ['ABC','XYZ','LMN'],
    'Yob':[2003,2004,2002],
    'Stream': ['Biology','Maths','Commerce']
}

In [35]:
print(dict1)

{'Name': ['ABC', 'XYZ', 'LMN'], 'Yob': [2003, 2004, 2002], 'Stream': ['Biology', 'Maths', 'Commerce']}

In [36]:
#length of dictionary(number of items)
len(dict1)

3

In [37]:
#items in dictionary
dict1.items()

dict_items([('Name', ['ABC', 'XYZ', 'LMN']), ('Yob', [2003, 2004, 2002]), ('Stream', ['Biology', 'Maths', 'Commerce'])])

In [38]:
#keys in the dictionary
dict1.keys()

dict_keys(['Name', 'Yob', 'Stream'])

In [39]:
#values in the dictionary
dict1.values()

dict_values([['ABC', 'XYZ', 'LMN'], [2003, 2004, 2002], ['Biology', 'Maths', 'Commerce']])

In [40]:
#printing the keys and values using the for loop
for key,value in dict1.items():
  print(key, '-' , value)

Name - ['ABC', 'XYZ', 'LMN']
Yob - [2003, 2004, 2002]
Stream - ['Biology', 'Maths', 'Commerce']

In [41]:
#returns the values of the specified key of the dictionary
dict1['Yob']

[2003, 2004, 2002]

In [42]:
#updating the existing dictionary
dict1.update({'Stream':['Biology','Maths','Arts'],
              'Roll_number':[23,22,21]
              })
print(dict1)

{'Name': ['ABC', 'XYZ', 'LMN'], 'Yob': [2003, 2004, 2002], 'Stream': ['Biology', 'Maths', 'Arts'], 'Roll_number': [23, 22, 21]}

In [43]:
#usig get function to return values of specified key
dict1.get('Name')

['ABC', 'XYZ', 'LMN']

In [44]:
# Removes and returns the value for a specified key
dict1.pop('Yob')

[2003, 2004, 2002]

In [46]:
#delete the dictionary
del dict1
print(dict1)

NameError: name 'dict1' is not defined

In [47]:
# dict1.clear() can be used to clear all the items from the dictionary (same as the list)

# Sets functions

In [48]:
# creating set
set1={12,13,14,15,16}
print(set1)

{16, 12, 13, 14, 15}

In [49]:
set2 ={12,45,45,2,2,12}
print(set2)

{2, 12, 45}

In [52]:
#length of sets using len function
print(len(set1))
print(len(set2))

5
3

In [53]:
#discarding the specified element
set1.discard(15)
print(set1)

{16, 12, 13, 14}

In [54]:
#combining the sets
set1.union(set2)

{2, 12, 13, 14, 16, 45}

In [55]:
#intersetion of sets to get the common elements
set1.intersection(set2)

{12}

In [56]:
#returns the elements only present in set1
set1.difference(set2)

{13, 14, 16}

In [57]:
#returns the elements only present in the set2
set2.difference(set1)

{2, 45}

In [58]:
#sorting set in ascending order
sorted(set1)

[12, 13, 14, 16]

In [60]:
#deleting set
del set1
print(set1)

NameError: name 'set1' is not defined

In [61]:
#clearin all the elemts in the set
set2.clear()
print(set2)

set()

In [62]:
#adding elements to the set
set2.add(44)
print(set2)

{44}